SECRET_KEY=iql)an966qsxsg&8onv&^s4k3-g&4i(0+ddu491za5r!%%!*fi
DEBUG=True
ALLOWED_HOSTS=127.0.0.1

# database credentials

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

TEMPLATE_DEBUG=True



